/*body {*/
/*    background-color: 		lightgray;*/
/*}*/
#menu {
    display: flex;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tank {
    border: 1px solid black;
    margin: auto;
    width: 700px;
    padding: 10px;
    display: inline-block;
}
.name {
    display: inline-block;
    font-size: 22px;
    margin: auto;
}
.nation {
    display: inline-block;
    font-size: 22px;
    margin: auto;
}
.tier {
    display: inline-block;
    font-size: 22px;
    margin: auto;
}
.type {
    display: inline-block;
    font-size: 22px;
    margin: auto;
}

